body {
    margin:auto;
    background:#6495ED;
    max-width:950px;
    margin-top: 2%;
}

#page {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-column-gap: 10px;
    border-color: #eee;
    border: 2px solid #eee;
    border-style:dashed;
    border-bottom: none;
    
    
}

.id {
    grid-column-start:1;
    grid-row-start:1;
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
    max-width: 250px;
    background: #6495ED;
    margin-left:5px;
    padding:2%;
    
    
}

#namefoto {
    max-width:300px;
    background: white;
}

#name {
    margin-left: 10%;
}

tr:hover  .ans  {
    background-color:  	#8A2BE2;
    border: 2px;
    border-color: 	#8A2BE2;
    border-style: inset ;
    border-radius: 4px;
}

.tab {
     background: #6495ED;
    
}

.ask {
    min-width: 75px;
}

.tab1{
    margin:10%;
    margin-left: 1%;
    background: #6495ED;
    justify-content: center;
    text-align: center;
}

.ans {
    
}

td {
    height: 35px;
    vertical-align: bottom;
}


#footer {
    background: #eee;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

footer > a {
    margin-left: 10%;
}

#fb{
   margin-left: 0%;
}

#ln {
   
}

#gth {
    
}
