body {
    margin:0;
}

#page {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}

.id {
    grid-column-start:1;
    grid-row-start:1;
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    grid-column-gap: 10px;
    background: #6495ED;
    
}

tr:hover {
    background:  	#8A2BE2;
}

.tab {
     background: #6495ED;
    
}

.tab1{
    margin:10%;
    background: #6495ED;
    justify-content: center;
    text-align: center;
}

td {
    height: 35px;
    vertical-align: bottom;
}


#footer {
    background: #eee;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}


#fb{
   
}

#ln {
   
}

#gth {
    
}
