

#page {
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

.id {
    grid-column-start:1;
    grid-row-start:1;
}

#footer {
    background: #eee;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

#fb{
   
}

#ln {
   
}

#gth {
    
}

.tab {
    padding: 15px;
    text-align: left;
}